{% extends 'glasgowMusicAwards/base.html' %}
{% load staticfiles %}
{% load awards_template_tags %}

{% block body_block %}
<h2> {{ genre.name }} </h2>
    {% if artists %}
    <!-- Get top artist from database-->
    <p>Click on an artist link to see how many votes the have,
        listen to their most popular song, and vote for them!</p>
    </p>
    <p>Top artist : {{top_artist}}<p>
    <ul>
    {% for artist in artists %}
    <li>
    <strong>
        <!--Change this when have url for seperate artists-->
    <a href="{% url 'awards:show_artist' genre.slug artist.slug %}">{{ artist.artistName }}</a>
    </strong>
    </li>
    {% endfor %}
    {% endif %}
</ul>
{% endblock %}
