{% extends 'glasgowMusicAwards/base.html' %}
{% load staticfiles %}
{% load awards_template_tags %}

{% block body_block %}

<h2>{{ artist.artistName }}</h2>

<div class="artistPageContent">
<div class = "artistInfo">
    <p>Most Popular song: {{artist.songName}}</p>
    <p>Number of votes: {{artist.votes.count}}</p>
</div>

<div id="youtubeVideo"><iframe width="560" height="315" src="{{artist.songLink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>

<div class = "commentSection">
    <h2>Comment Section</h2>
    <p>This is test comment</p>
</div>
</div>

{% endblock %}
