{% extends 'glasgowMusicAwards/base.html' %}
{% load staticfiles %}
{% load awards_template_tags %}

{% block body_block %}


<h2>{{ artist.artistName }}</h2>

<div class="artistPageContent">
    <div class="artistInfo">
        <p>Most Popular song: {{artist.songName}}</p>
        <div class="voteSection">
            <p class="voteCount">Number of votes: {{artist.votes}}</p>
            <!-- Ensure that user can only vote once per genre -->

            <!-- Is genre Pop? -->
            {% if genre.name == "Pop" %}

            <!-- Has user already voted for artist in Pop?-->
            {% if vote.popVoted == False %}
            <button class="vote_btn" data-genre="pop" data-username="{{user.username}}"
                data-artistid="{{ artist.artistId }}" data class="btn btn-primary btn-sm" type="button">
                Vote
            </button>
            {% endif %}
            {% endif %}

            <!-- Is genre R&B? -->
            {% if genre.name == "R&B" %}
            <!-- Has user already voted for artist in R&B?-->
            {% if vote.rbVoted == False %}
            <button class="vote_btn" data-genre="rnb" data-username="{{user.username}}" data-artistid="{{ artist.artistId }}" data class="btn btn-primary btn-sm"
                type="button">
                Vote
            </button>
            {% endif %}
            {% endif %}

            <!-- Is genre Rap? -->
            {% if genre.name == "Rap" %}
            <!-- Has user already voted for artist in Rap?-->
            {% if vote.rapVoted == False%}
            <button class="vote_btn" data-genre="rap" data-username="{{user.username}}"  data-artistid="{{ artist.artistId }}" data class="btn btn-primary btn-sm"
                type="button">
                Vote
            </button>
            {% endif %}
            {% endif %}

            <!-- Is genre Rock? -->
            {% if genre.name == "Rock" %}
            <!-- Has user already voted for artist in Rock?-->
            {% if vote.rockVoted == False%}
            <button class="vote_btn" data-genre="rock" data-username="{{user.username}}" data-artistid="{{ artist.artistId }}" data class="btn btn-primary btn-sm"
                type="button">
                Vote
            </button>
            {% endif %}
            {% endif %}

            <!-- Is genre Country? -->
            {% if genre.name == "Country" %}
            <!-- Has user already voted for artist in Country?-->
            {% if vote.countryVoted == False%}
            <button class="vote_btn" data-genre="country" data-username="{{user.username}}" data-artistid="{{ artist.artistId }}" data class="btn btn-primary btn-sm"
                type="button">
                Vote
            </button>
            {% endif %}
            {% endif %}

            <!-- Is genre Jazz? -->
            {% if genre.name == "Jazz" %}
            <!-- Has user already voted for artist in Jazz?-->
            {% if vote.jazzVoted == False%}
            <button class="vote_btn" data-genre="jazz" data-username="{{user.username}}" data-artistid="{{ artist.artistId }}" data class="btn btn-primary btn-sm"
                type="button">
                Vote
            </button>
            {% endif %}
            {% endif %}

        </div>
    </div>

    <div id="youtubeVideo"><iframe width="560" height="315" src="{{artist.songLink}}" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe></div>

    <div class="commentSection">
        <h2>Comment Section</h2>
        <p>This is test comment</p>
    </div>
</div>

{% endblock %}