<!DOCTYPE html>
{% load staticfiles %}
{% load awards_template_tags %}

<html>

<head lang="en">
    <meta charset="UTF-8" />
    <title>Glasgow Music Awards</title>
    <!--Reference to CSS to be applied to all templates-->
    <link href="{% static 'stylesheets/style.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'javascript/script.js'%}"></script>
</head>

<body>
    <div class="flex-wrapper">
    <div class="header">
    <header>
        <h1>Glasgow Music Awards</h1>

        <!-- Navigation Bar -->
        <!-- Show these three links despite user being logged in or not -->
        <nav id="navBar" class="nav">
            <ul id="navList" class="topNav">
                <div id="myLinks">
                    <div class="links">
                        <li><a href="{% url 'awards:index' %}">Home</a></li>
                    </div>
                    <div class="links">
                        <li><a href="{% url 'awards:about' %}">About Us</a></li>
                    </div>
                    <div class="links">
                        <li><a href="{% url 'awards:genres' %}">Genres</a></li>
                    </div>
        {% if user.is_authenticated %}
        <!-- Show these only if user is logged in -->
                    <div class="links">
                        <li><a href="{% url 'awards:add_artist' %}">Add Artist</a></li>
                    </div>
                    <div class="links">
                        <li><a href="{% url 'awards:logout' %}">Logout</a></li>
                    </div>

        {% else %}
        <!-- Show these if user is not logged in -->
                    <div class="links">
                        <li><a href="{% url 'awards:register' %}">Register</a></li>
                    </div>
                    <div class="links">
                        <li><a href="{% url 'awards:login' %}">Login</a></li>
                    </div>
        {% endif %}
                </div>
            </ul>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
              
        </nav>
    </header>
    </div>

    <div class="content">
    <main>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
    </main>
    </div>

    <!-- Page Footer -->
    <footer class="footer">
        <p>Glasgow Music Awards Lab Team 8A</p>
    </footer>

    <script src="{% static "javascript/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "javascript/awards-ajax.js" %}" crossorigin="anonymous"></script>

</body>

</html>